#profileCompoContainer {
  animation: apearance 1s ease;
  animation-fill-mode: backwards;
  margin: auto;
  animation-delay: 0.5s;
}

@keyframes apearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#profileCompoButton {
  margin-left: 175px;
  margin-top: 40px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: 150px;
  transition: 1s;
}

#profileCompoButton:hover {
  box-shadow: 0px 0px 10px white, 0px 0px 10px white;
}
