#profileJumbotron {
  height: 100px;
  background: linear-gradient(to bottom, #0b090a, #a4161a, #0b090a);
  animation: slideright 2s ease;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}
@keyframes slideright {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#profileH4 {
  text-align: center;
  font-family: "Comforter", cursive;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 35px;
}
